<div class="content-footer">
    <div class="content-footer__menu">
        <p class="content-footer__menu--item">About</p>
        <p class="content-footer__menu--item">News</p>
        <p class="content-footer__menu--item">Pro</p>
        <p class="content-footer__menu--item">Apps</p>
        <p class="content-footer__menu--item">Year in review</p>
        <p class="content-footer__menu--item">Gift Guide</p>
        <p class="content-footer__menu--item">Podcast</p>
        <p class="content-footer__menu--item">Help</p>
        <p class="content-footer__menu--item">Terms</p>
        <p class="content-footer__menu--item">API</p>
        <p class="content-footer__menu--item">Contact</p>
    </div>
</div>